<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head th:replace="empleado/layout_empleado :: head">
</head>

<body>
	<div th:replace="empleado/layout_empleado :: navbar"></div>

	<div class="notification show-notification" th:if="${mensajesuccess}" style="background-color: #36d300;">
		<span th:text="${mensajesuccess}"></span>
		<span class="close-icon" onclick="closeNotification()">
			<i class="fas fa-times-circle"></i>
		</span>
	</div>

	<section class="dashboard">
		<!-- TopBar -->
		<div th:replace="empleado/layout_empleado :: top"></div>
		<div class="row dash-content">
			<!-- pedidos pendientes -->
			<div class="col-4">
				<div class="card mt-4">
					<div class="card-header d-flex justify-content-between mb-3">
						<div class="col-6">
							<h3 class="text">Por Aceptar</h3>
						</div>
						<div class="size-number">
							<span th:text="${pedidos_pendientes.size()}"></span>
						</div>

					</div>
					<div class="card-body">
						<div th:each="p : ${pedidos_pendientes}" class="mb-2">
							<a class="btn-success btn-order w-100 text-start" th:onclick="'openModal(' + ${p.id} + ')'">
								<span class="col-12" th:text="'ID: '+${p.id}"></span>
								<span class="col-12" th:text="${p.cliente.nombre + ' '+p.cliente.apellido}"></span>
								<span class="state">Nuevo</span>
							</a>

							<div th:id="'modal' + ${p.id}" class="modal">

								<div class="modal-content">
									<div class="card">
										<div class="card-header">
											<span>Detalles</span>
											<span class="close" th:onclick="'closeModal(' + ${p.id} + ')'">
												<i class="fa-solid fa-xmark"></i>
											</span>
										</div>
										<!-- Contenido del modal -->
										<div class="card-body bg-color row">
											<div class="col-7">
												<div class="card">
													<div class="card-body">
														<div class="mt-3 row">
															<div class="col-6">
																<label>Prendas</label>
																<input type="text" class="form-control"
																	th:value="${p.cantidad + ' prendas'}" disabled>
															</div>
															<div class="col-6">
																<label>Servicio</label>
																<input type="text" class="form-control"
																	th:value="${p.servicio.servicio}" disabled>
															</div>
														</div>
														<div class="mt-3 row">
															<div class="col-12">
																<label>Descripcion</label>
																<textarea th:if="${p.descripcion != ''}"
																	th:text="${p.descripcion}" class="form-control"
																	disabled></textarea>
																<textarea th:if="${p.descripcion == ''}"
																	class="form-control" th:text="'...'"
																	disabled></textarea>
															</div>
														</div>
														
													</div>
													<div class="card-footer d-flex justify-content-end">
														<form th:action="@{/aquaclean/empleados/pedidos/update/proceso/{id}(id=${p.id})}" method="post">
															<button type="submit" class="btn btn-secondary">Empezar</button>
														</form>
														
													</div>
												</div>
											</div>
											<div class="col-5">
												<div class="card">
													<div class="card-header">
														Cliente
													</div>
													<div class="card-body">
														<div class="d-flex justify-content-center py-2">
															<img th:src="${p.cliente.avatar}" width="60" height="60"
																class="border-50" />
														</div>
														<p th:text="${p.cliente.getFullName}" class="text-center"></p>
														<p class="text-center"><small
																th:text="${p.cliente.correo}"></small></p>
													</div>
												</div>
											</div>
										</div>
									</div>


								</div>
							</div>
						</div>
					</div>
				</div>
			</div>

			<div class="col-4">
				<div class="card mt-4">
					<div class="card-header d-flex justify-content-between mb-3">
						<div class="col-6">
							<h3 class="text">En proceso</h3>
						</div>
						<div class="size-number">
							<span th:text="${pedidos_en_proceso.size()}"></span>
						</div>
					</div>
					<div class="card-body">			
						<div th:each="p : ${pedidos_en_proceso}" class="mb-2">
							<div class="card text-start"
								th:href="@{/aquaclean/empleados/pedidos(id=${p.id})}">
								<span class="row">
									<span class="col-8 row">
										<span class="col-12" th:text="'ID: '+${p.id}"></span>
										<span class="col-12"
											th:text="${p.cliente.nombre + ' '+p.cliente.apellido}"></span>
							
									</span>
									<span class="col-4 text-end">
										proceso
									</span>
								</span>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</section>

	<div class="modal">
		<div class="modal-container">
			<div th:if="${pedido_update}">
				<div class="card">
					<div class="card-header">
						<a href="" class="close-modal">X</a>
					</div>
					<div class="card-body">
						<div class="w-100 row justify-content-center">
							<!--
							<div class="col-auto">
								<img th:src="${pedido_update.cliente.avatar}" class="img-user">
							</div>-->
						</div>
						<div class="mt-3">
							<label>Correo</label>
							<input type="text" class="form-control" th:value="${pedido_update.cliente.correo}">
						</div>
						<div class="mt-3">
							<label>Descripcion</label>
							<textarea th:text="${pedido_update.descripcion}" class="form-control"></textarea>
						</div>
						<div class="mt-3">
							<form class="d-flex"
								th:action="@{/aquaclean/empleados/pedidos/update/{id}(id=${pedido_update.id})}"
								method="post" th:object="${pedido}">

								<select class="form-select" name="tipo">
									<option disabled selected hidden th:if="${pedido_update.estado == 'pendiente'}"
										th:text="'Pendiente'"></option>
									<option disabled selected hidden th:if="${pedido_update.estado == 'en_proceso'}"
										th:text="'En proceso'"></option>
									<option disabled selected hidden
										th:if="${pedido_update.estado == 'proceso_terminado'}"
										th:text="'Proceso terminado'"></option>

									<option value="1">Pendiente</option>
									<option value="2">En proceso</option>
									<option value="3">proceso terminado</option>
								</select>
								<button type="submit" class="btn btn-secondary">
									<i class="fas fa-check"></i>
								</button>
							</form>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>

	<div class="m-4">

		<!-- <p class="text-end">terminados: <b th:text="${size_pedidos_terminados}"></b></p> -->
		<div class="row">
			<!-- ALERT -->
			<div th:if="${pedidos_pendientes.isEmpty()}" class="banner-empty shadow">
				<h1 class="fs-3">No se econtraron pedidos</h1>
				<div class="pb-3">
					<p>Estas interesado en nuestros servicios?</p>
				</div>
				<a class="btn btn-secondary" th:href="@{/aquaclean/clientes}">Aceptar</a>

			</div>
			<!-- END ALERT -->
		</div>
	</div>
	<div th:replace="empleado/layout_empleado :: footer"></div>

	<script>
		function openModal(id) {
			var modal = document.getElementById("modal" + id);
			modal.style.display = "block";
		}

		function closeModal(id) {
			var modal = document.getElementById("modal" + id);
			modal.style.display = "none";
		}

		// Cerrar el modal si el usuario hace clic fuera de él
		window.onclick = function (event) {
			if (event.target.classList.contains('modal')) {
				event.target.style.display = "none";
			}
		}
	</script>
</body>

</html>