<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="admin/layout_admin :: head"></head>
<body id="body-admin">
    <!-- sidebar -->
    <div th:replace="admin/layout_admin :: sidebar"></div>

    <!-- contenido -->
    <div class="dashboard">
       <div class="dash-content">
           <div class="card card-admin mt-3">
               <div class="card-header">
                  <!-- TITLE -->
                  <div class="title d-flex justify-content-between">
                      <div class="d-flex align-items-center">
                          <span class="text">Repartidores</span>
                      </div>
                      <div class="size-number">
                          <span th:text="${users.size}"></span>	
                      </div>											
                  </div>
               </div>
               <div class="card-body">
                  <!-- TABLE PAGOS -->
                  <div class="table-responsive">
                      <table class="table table-hover">
                          <thead>
                              <tr>
								  <th>Nombres y Apellidos</th>							
									<th>Correo</th>
									<th>DNI</th>
									<th>Teléfono</th>
                                 <!-- Aquí puedes agregar más columnas según tus necesidades -->
                              </tr>
                          </thead>
                          <tbody>
							  <tr th:each="user : ${users}">
									<td class="d-flex align-items-center">						
										<img th:src="${user.avatar}" width="40" height="40" class="border-50">
										<span th:text="${user.nombre + ' '+user.apellido}" class="text-center" style="padding-left: 10px;"></span>
									</td>	
									<td th:text="${user.correo}"></td>
									<td th:if="${#strings.length(user.dni) ge 3}"
										th:text="'*****' + ${#strings.substring(user.dni, #strings.length(user.dni) - 3)}"></td>
									<td th:if="${#strings.length(user.telefono) ge 3}"
										th:text="'******' + ${#strings.substring(user.telefono, #strings.length(user.telefono) - 3)}">
									</td>
									
								</tr>
                          </tbody>
                      </table>
                  </div>
               </div>
           </div>
       </div>
   </div>
    <!-- script -->
    <div th:replace="admin/layout_admin :: footer"></div>
</body>