<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head th:replace="cliente/layout_cliente :: head">
</head>

<body>
	<div th:replace="cliente/layout_cliente :: navbar"></div>

	<div class="notification show-notification" th:if=${success_update} style="background-color: #36d300;">
		<span th:text="${success_update}"></span>
		<span class="close-icon" onclick="closeNotification()">
			<i class="fas fa-times-circle"></i>
		</span>
	</div>

	<section>
		<div class="mb-3">
			<h1>Configuración</h1>
			<hr>
		</div>
		<div class="card">
			<div class="card-body">
				<div class="row justify-content-center gap-2">
					<div class="col-12 col-md-auto col-xl-auto d-flex align-items-center justify-content-center">
						<img th:if="${user.avatar == null}" th:src="@{/img/default_user.jpg}" class="img-user">
						<img th:if="${user.avatar != null}" th:src="${user.avatar}" class="img-user">
					</div>
					<div class="col-12 col-xl-9 col-md-9 row align-items-center ">
						<form method="post" enctype="multipart/form-data">
							<div class="d-flex">
								<input type="file" class="form-control" id="avatar" accept="image/*">
								<button type="button" class="btn btn-secondary" onclick="updateProfileImg()">Guardar</button>
							</div>
							<input type="hidden" id="id" th:value="${user.id}">
							
							<p class="pt-2">El formato debe ser JPEG o PNG y no puede superar los 10 MB.</p>
						</form>
					</div>
				</div>
			</div>
		</div>

		<div class="card mt-3">
			<form method="post" th:action="@{/aquaclean/settings/profile/update/{id}(id=${user.id})}" th:object="${u}">
				<div class="card-body">
					<div class="my-3">
						<p>Nombre</p>
						<input type="text" class="form-control" name="nombre" th:value="${user.nombre}" />
					</div>
					<div class="my-3">
						<p>Apellido</p>
						<input type="text" class="form-control" name="apellido" th:value="${user.apellido}" />
					</div>
					<div class="my-3">
						<p>Teléfono</p>
						<input type="text" class="form-control" name="telefono" th:value="${user.telefono}" />
					</div>
					<div class="my-3">
						<p>DNI</p>
						<input type="text" class="form-control" name="dni" th:value="${user.dni}" />
					</div>
					
				</div>
				<div class="card-footer d-flex justify-content-end">
					<button type="submit" class="btn btn-secondary">Guardar cambios</button>
				</div>
			</form>
		</div>

	</section>
	<div th:replace="cliente/layout_cliente :: footer"></div>
	
	<script>
		function updateProfileImg() {
			var id = document.getElementById('id').value;
        	var avatar = document.getElementById('avatar').files[0];
 
			var formData = new FormData();
        	formData.append('avatar', avatar);
        	formData.append('id', id);
			fetch('http://127.0.0.1:8000/users/'+id+'/', {
				method: 'PATCH',
				body: formData
			})
				.then(response => {
					if (!response.ok) {
						throw new Error('Network response was not ok');
					}
					return response.json();
				})
				.then(data => {
					console.log('Success:', data);
					window.location.reload();
				})
				.catch(error => {
					console.error('Error:', error);
				});
		}
	</script>
	
	
</body>
</html>