<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="repartidor/layout_repartidor :: head">
</head>
<body>
    <div th:replace="repartidor/layout_repartidor :: navbar"></div>

    <div class="notification show-notification" th:if="${mensajesuccess}" style="background-color: #0E4BF1;">
        <span th:text="${mensajesuccess}"></span>
        <span class="close-icon" onclick="closeNotification()">
            <i class="fas fa-times-circle"></i>
        </span>
    </div>


    <div class="row justify-content-center" th:if="${pedidos.isEmpty()}">
        <div class="col-10 col-md-10 col-xl-6">
            <div class="card mt-4">
                <div class="card-body text-center">
                    <h3>No hay resultados</h3>
                    <p>Bienvenido <span th:text="${user.nombre}"></span>, no hay pedidos disponibles por aceptar en este
                        momento, regresa más tarde.</p>
                </div>
            </div>
        </div>
    </div>


    <div class="row">
        <div class="col-12 col-md-6 col-xl-4" th:each="p : ${pedidos}">
            <div class="card mt-3">
                <div class="card-body">
                    <h3 th:text="${p.cliente.getFullName()}"></h3>
                    <small><i th:text="${#dates.format(p.fecha_entrega, 'dd/MM/yyyy - h:mm a')}"></i></small>
                    <p><small><b>Direccion</b></small></p>
                    <small th:text="${p.direccion}"></small>
                </div>
                
            </div>
        </div>
    </div>
    
    <div th:replace="repartidor/layout_repartidor :: scripts"></div>
</body>