/*------- GLOBAL STYLES -------*/
:root {
	/* STATIC COLORS*/
	--main-color: #00E5CC;
	--secondary: #060640;
	--white: #FFFFFF;
	--dark-blue: #060640;
	--success: #5CAB40;
	--danger: #FF4C3D;
	
	/* MAIN COLORS*/
	--panel-color: #FFF;
	--text-color: #060640;
	--background-main: #ECEEF5;
	--background-white: #FFFFFF;
	/*DARK MODE*/
	--dark-mode-bg: #0B0E0F;
	--dark-mode-card: #24272C;
}

button{
	background-color: transparent;
	border: none;
	outline: none;
	cursor: pointer;
}

.border-50{
	border-radius: 50%;
	border: 1px solid var(--text-color);
}

.table-responsive{
	overflow-x: auto;
}
.table {
	border-collapse: collapse;
	font-size: 0.9rem;
	box-shadow: 0 0 20px rgba(0,0,0,0.15);
	width: 100%;
	color: var(--text-color);
	vertical-align: top;
	background-color: transparent;
}

.table thead tr{
	text-align: left;
}

.table th, table td{
	padding: 12px 15px;
}

.table tbody tr{
	border-bottom: 1px solid #dddddd;
}

.table-dark {
	background-color: var(--secondary);
	color: #fff;
	border-color: #373b3e;
}

.text-center {
	text-align: center !important;
}

.text-start {
	text-align: start !important;
}

.text-end {
	text-align: end !important;
}

.h-50 {
	height: 50% !important;
}

.h-100 {
	height: 100% !important;
}

.w-auto{
	width: auto !important;
}

.w-50 {
	width: 50% !important;
}

.w-75 {
	width: 75% !important;
}

.w-100 {
	width: 100% !important;
}

.fs-2 {
	font-size: 20px;
}

.fs-3 {
	font-size: 30px;
}

.fw-1 {
	font-weight: 100;
}

.fw-2 {
	font-weight: 200;
}

.fw-3 {
	font-weight: 300;
}

.fw-4 {
	font-weight: 400;
}

.fw-6 {
	font-weight: 600;
}

.text-end {
	text-align: end;
}

/* Padding*/
.p-0 {
	padding: 0 !important;
}

.p-1 {
	padding: 0.25rem !important;
}

.p-2 {
	padding: 0.5rem !important;
}

.p-3 {
	padding: 1rem !important;
}

.p-4 {
	padding: 1.5rem !important;
}

.p-5 {
	padding: 3rem !important;
}

.px-0 {
	padding-right: 0 !important;
	padding-left: 0 !important;
}

.px-1 {
	padding-right: 0.25rem !important;
	padding-left: 0.25rem !important;
}

.px-2 {
	padding-right: 0.5rem !important;
	padding-left: 0.5rem !important;
}

.px-3 {
	padding-right: 1rem !important;
	padding-left: 1rem !important;
}

.px-4 {
	padding-right: 1.5rem !important;
	padding-left: 1.5rem !important;
}

.px-5 {
	padding-right: 3rem !important;
	padding-left: 3rem !important;
}

.py-0 {
	padding-top: 0 !important;
	padding-bottom: 0 !important;
}

.py-1 {
	padding-top: 0.25rem !important;
	padding-bottom: 0.25rem !important;
}

.py-2 {
	padding-top: 0.5rem !important;
	padding-bottom: 0.5rem !important;
}

.py-3 {
	padding-top: 1rem !important;
	padding-bottom: 1rem !important;
}

.py-4 {
	padding-top: 1.5rem !important;
	padding-bottom: 1.5rem !important;
}

.py-5 {
	padding-top: 3rem !important;
	padding-bottom: 3rem !important;
}

.pt-0 {
	padding-top: 0 !important;
}

.pt-1 {
	padding-top: 0.25rem !important;
}

.pt-2 {
	padding-top: 0.5rem !important;
}

.pt-3 {
	padding-top: 1rem !important;
}

.pt-4 {
	padding-top: 1.5rem !important;
}

.pt-5 {
	padding-top: 3rem !important;
}


.pb-0 {
	padding-bottom: 0 !important;
}

.pb-1 {
	padding-bottom: 0.25rem !important;
}

.pb-2 {
	padding-bottom: 0.5rem !important;
}

.pb-3 {
	padding-bottom: 1rem !important;
}

.pb-4 {
	padding-bottom: 1.5rem !important;
}

.pb-5 {
	padding-bottom: 3rem !important;
}

/* MARGIN */
.m-0 {
	margin: 0;
}

.m-1 {
	margin: 0.25rem;
}

.m-2 {
	margin: 0.5rem;
}

.m-3 {
	margin: 1rem;
}

.m-4 {
	margin: 1.5rem;
}

.m-5 {
	margin: 3rem;
}

.m-auto {
	margin: auto;
}

.mx-0 {
	margin-right: 0;
	margin-left: 0;
}

.mx-1 {
	margin-right: 0.25rem;
	margin-left: 0.25rem;
}

.mx-2 {
	margin-right: 0.5rem;
	margin-left: 0.5rem;
}

.mx-3 {
	margin-right: 1rem;
	margin-left: 1rem;
}

.mx-4 {
	margin-right: 1.5rem;
	margin-left: 1.5rem;
}

.mx-5 {
	margin-right: 3rem;
	margin-left: 3rem;
}

.mx-auto {
	margin-right: auto;
	margin-left: auto;
}

.my-0 {
	margin-top: 0;
	margin-bottom: 0;
}

.my-1 {
	margin-top: 0.25rem;
	margin-bottom: 0.25rem;
}

.my-2 {
	margin-top: 0.5rem;
	margin-bottom: 0.5rem;
}

.my-3 {
	margin-top: 1rem;
	margin-bottom: 1rem;
}

.my-4 {
	margin-top: 1.5rem;
	margin-bottom: 1.5rem;
}

.my-5 {
	margin-top: 3rem;
	margin-bottom: 3rem;
}

.my-auto {
	margin-top: auto;
	margin-bottom: auto;
}

.mt-1{
	margin-top: 0.25rem;
}
.mt-2{
	margin-top: 0.5rem;
}
.mt-3{
	margin-top: 1rem;
}
.mt-4{
	margin-top: 1.5rem;
}

.mb-1{
	margin-bottom: 0.25rem;
}
.mb-2{
	margin-bottom: 0.5rem;
}
.mb-3{
	margin-bottom: 1rem;
}
.mb-4{
	margin-bottom: 1.5rem;
}

/* JUSTIFY CONTENT */
.justify-content-between {
	justify-content: space-between;
}

.justify-content-center {
	justify-content: center;
}

.justify-content-end {
	justify-content: end;
}

/* FLEX */

.d-flex {
	display: flex !important;
}

.flex-column {
	flex-direction: column;
}

.align-items-center {
	align-items: center;
}


.btn {
	display: inline-block;
	font-weight: 400;
	line-height: 1.5;
	text-align: center;
	text-decoration: none;
	cursor: pointer;
	-webkit-user-select: none;
	-moz-user-select: none;
	user-select: none;
	background-color: transparent;
	border: 1px solid transparent;
	padding: 0.375rem 0.75rem;
	font-size: 1rem;
	border-radius: 0.35rem;
	transition: color 0.15s ease-in-out;
}
.btn-sm {
  padding: 0.25rem 0.5rem;
  font-size: 0.875rem;
  border-radius: 0.2rem;
}

.btn-secondary {
	background-color: var(--secondary);
	color: var(--background-white);
}

.btn-success {
	background-color: var(--success);
	color: var(--background-white);
}
.btn-danger {
	background-color: var(--danger);
	color: var(--background-white);
}



.btn-block {
	display: block;
	width: 100%;
}

/* CARD */
.card {
	position: relative;
	display: flex;
	flex-direction: column;
	min-width: 0;
	word-wrap: break-word;
	background-color: var(--panel-color);
	background-clip: border-box;
	box-shadow: 0 0.6rem 1.5rem rgba(0, 0, 0, 0.1);
	border-radius: 8px;
}

.card-header {
	padding: 0.5rem 1rem;
	margin-bottom: 0;
	border-bottom: 1px solid rgba(0, 0, 0, 0.125);
}

.card-footer {
	padding: 0.5rem 1rem;
	border-top: 1px solid rgba(0, 0, 0, 0.125);
}

/* FORM INPUT */
input {
	background-color: transparent;
}

/* form control */
.form-control {
	display: block;
	width: 100%;
	padding: 0.375rem 0.75rem;
	font-size: 1rem;
	font-weight: 400;
	line-height: 1.5;
	background-color: transparent;
	background-clip: padding-box;
	border: 1.5px solid #ced4da;
	appearance: none;
	border-radius: 0.25rem;
}

.form-control[type=file] {
	overflow: hidden;
}

.form-control:focus {
	background-color: transparent;
	border-color: #55b5fe;
	outline: 0;
	box-shadow: 0 0 0 0.1rem rgba(0, 0, 0, 0.3);
}

.form-control::placeholder {
	opacity: 1;
}

.form-control:disabled,
.form-control[readonly] {
	background-color: var(--background-main);
	opacity: 1;
}

.form-control::file-selector-button {
	padding: 0.375rem 0.75rem;
	margin: -0.375rem -0.75rem;
	margin-inline-end: 0.75rem;
	background-color: transparent;
	pointer-events: none;
	border-color: inherit;
	border-style: solid;
	border-width: 0;
	border-inline-end-width: 1px;
	border-radius: 0;
	transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}

.form-select {
	display: block;
	width: 100%;
	padding: 0.375rem 2.25rem 0.375rem 0.75rem;
	-moz-padding-start: calc(0.75rem - 3px);
	font-size: 1rem;
	font-weight: 400;
	line-height: 1.5;
	background-color: transparent;
	background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16'%3e%3cpath fill='none' stroke='%23343a40' stroke-linecap='round' stroke-linejoin='round' stroke-width='2' d='M2 5l6 6 6-6'/%3e%3c/svg%3e");
	background-repeat: no-repeat;
	background-position: right 0.75rem center;
	background-size: 16px 12px;
	border: 1px solid #ced4da;
	border-radius: 0.25rem;
	transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
	-webkit-appearance: none;
	-moz-appearance: none;
	appearance: none;
}

.form-select:focus {
	border-color: #86b7fe;
	outline: 0;
	box-shadow: 0 0 0 0.25rem rgba(13, 110, 253, 0.1);
}

.form-select[multiple],
.form-select[size]:not([size="1"]) {
	padding-right: 0.75rem;
	background-image: none;
}

.form-select:disabled {
	background-color: var(--background-main);
}

.form-check {
	display: block;
	min-height: 1.5rem;
	padding-left: 1.5em;
	margin-bottom: 0.125rem;
}

.form-check .form-check-input {
	float: left;
	margin-left: -1.5em;
}

.form-check-input {
	width: 1em;
	height: 1em;
	margin-top: 0.25em;
	vertical-align: top;
	background-color: transparent;
	background-repeat: no-repeat;
	background-position: center;
	background-size: contain;
	border: 1px solid rgba(0, 0, 0, 0.25);
	-webkit-appearance: none;
	-moz-appearance: none;
	appearance: none;
}

.form-check-input[type=checkbox] {
	border-radius: 0.25em;
}

.form-check-input[type=radio] {
	border-radius: 50%;
}

.form-check-input:active {
	filter: brightness(90%);
}

.form-check-input:focus {
	border-color: #86b7fe;
	outline: 0;
	box-shadow: 0 0 0 0.25rem rgba(13, 110, 253, 0.25);
}

/* end form control */
.card-body {
	padding: 1rem 1.5rem;
}

/* Modal */
.modal {
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	background-color: #111111bd;
	z-index: 100;
	display: flex;
	opacity: 0;
	pointer-events: none;
}
  
.modal-content {
	background-color: var(--panel-color);
	margin: auto;
	width: 80%;
	max-width: 750px;
	color: var(--text-color);
	border-radius: 6px;
	
	display: grid;
	gap: 1em;
}
.modal--show{
	opacity: 1;
	pointer-events: unset;
}
  
.close {
	color: var(--text-color);
	float: right;
	font-size: 20px;
}
  
.close:hover,
.close:focus {
	text-decoration: none;
	cursor: pointer;
}  
/* END MODAL*/

.gap-1 {
	gap: 1rem;
}

.gap-2 {
	gap: 2rem;
}

.gap-3 {
	gap: 3rem;
}

.row {
	--row-gutter-x: 1.5rem;
  	--row-gutter-y: 0;
	display: flex;
	flex-wrap: wrap;
}


.row > * {
  flex-shrink: 0;
  width: 100%;
  max-width: 100%;
  padding-right: calc(var(--row-gutter-x) * .5);
  padding-left: calc(var(--row-gutter-x) * .5);
  margin-top: var(--row-gutter-y);
}


.col-auto {
	flex: 0 0 auto;
	width: auto;
}

.col-1 {
	flex: 0 0 auto;
	width: 8.33333333%;
}

.col-2 {
	flex: 0 0 auto;
	width: 16.66666667%;
}

.col-3 {
	flex: 0 0 auto;
	width: 25%;
}

.col-4 {
	flex: 0 0 auto;
	width: 33.33333333%;
}

.col-5 {
	flex: 0 0 auto;
	width: 41.66666667%;
}

.col-6 {
	flex: 0 0 auto;
	width: 50%;
}

.col-7 {
	flex: 0 0 auto;
	width: 58.33333333%;
}

.col-8 {
	flex: 0 0 auto;
	width: 66.66666667%;
}

.col-9 {
	flex: 0 0 auto;
	width: 75%;
}

.col-10 {
	flex: 0 0 auto;
	width: 83.33333333%;
}

.col-11 {
	flex: 0 0 auto;
	width: 91.66666667%;
}

.col-12 {
	flex: 0 0 auto;
	width: 100%;
}



@media (min-width: 768px) {
	.col-md-auto {
		flex: 0 0 auto;
		width: auto;
	}

	.col-md-1 {
		flex: 0 0 auto;
		width: 8.33333333%;
	}

	.col-md-2 {
		flex: 0 0 auto;
		width: 16.66666667%;
	}

	.col-md-3 {
		flex: 0 0 auto;
		width: 25%;
	}

	.col-md-4 {
		flex: 0 0 auto;
		width: 33.33333333%;
	}

	.col-md-5 {
		flex: 0 0 auto;
		width: 41.66666667%;
	}

	.col-md-6 {
		flex: 0 0 auto;
		width: 50%;
	}

	.col-md-7 {
		flex: 0 0 auto;
		width: 58.33333333%;
	}

	.col-md-8 {
		flex: 0 0 auto;
		width: 66.66666667%;
	}

	.col-md-9 {
		flex: 0 0 auto;
		width: 75%;
	}

	.col-md-10 {
		flex: 0 0 auto;
		width: 83.33333333%;
	}

	.col-md-11 {
		flex: 0 0 auto;
		width: 91.66666667%;
	}

	.col-md-12 {
		flex: 0 0 auto;
		width: 100%;
	}
}

@media (min-width: 992px) {
	.col-lg-auto {
		flex: 0 0 auto;
		width: auto;
	}

	.col-lg-1 {
		flex: 0 0 auto;
		width: 8.33333333%;
	}

	.col-lg-2 {
		flex: 0 0 auto;
		width: 16.66666667%;
	}

	.col-lg-3 {
		flex: 0 0 auto;
		width: 25%;
	}

	.col-lg-4 {
		flex: 0 0 auto;
		width: 33.33333333%;
	}

	.col-lg-5 {
		flex: 0 0 auto;
		width: 41.66666667%;
	}

	.col-lg-6 {
		flex: 0 0 auto;
		width: 50%;
	}

	.col-lg-7 {
		flex: 0 0 auto;
		width: 58.33333333%;
	}

	.col-lg-8 {
		flex: 0 0 auto;
		width: 66.66666667%;
	}

	.col-lg-9 {
		flex: 0 0 auto;
		width: 75%;
	}

	.col-lg-10 {
		flex: 0 0 auto;
		width: 83.33333333%;
	}

	.col-lg-11 {
		flex: 0 0 auto;
		width: 91.66666667%;
	}

	.col-lg-12 {
		flex: 0 0 auto;
		width: 100%;
	}
}

@media (min-width: 1200px) {
	.col-xl-auto {
		flex: 0 0 auto;
		width: auto;
	}

	.col-xl-1 {
		flex: 0 0 auto;
		width: 8.33333333%;
	}

	.col-xl-2 {
		flex: 0 0 auto;
		width: 16.66666667%;
	}

	.col-xl-3 {
		flex: 0 0 auto;
		width: 25%;
	}

	.col-xl-4 {
		flex: 0 0 auto;
		width: 33.33333333%;
	}

	.col-xl-5 {
		flex: 0 0 auto;
		width: 41.66666667%;
	}

	.col-xl-6 {
		flex: 0 0 auto;
		width: 50%;
	}

	.col-xl-7 {
		flex: 0 0 auto;
		width: 58.33333333%;
	}

	.col-xl-8 {
		flex: 0 0 auto;
		width: 66.66666667%;
	}

	.col-xl-9 {
		flex: 0 0 auto;
		width: 75%;
	}

	.col-xl-10 {
		flex: 0 0 auto;
		width: 83.33333333%;
	}

	.col-xl-11 {
		flex: 0 0 auto;
		width: 91.66666667%;
	}

	.col-xl-12 {
		flex: 0 0 auto;
		width: 100%;
	}
}
