.notification {
    position: absolute;
    top: 2rem;
    left: 30%;
    right: 30%;
    
    transform: translateY(-10%);
    width: 40%;
    padding: 10px;
    color: #ffffff;
    border-radius: 5px;
    text-align: center;
    z-index: 9999;
    
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.notification-left-21 {
    zoom: 85%;
    left: 49%;
    top: 94%;
}

.show-notification {
    animation: slide-down 0.5s ease-out;
}

.close-icon {
    
    font-weight: bold;
    cursor: pointer;
}

.close-icon-left {
position: absolute;
    top: 5px;
    left: 10px;
    font-weight: bold;
    cursor: pointer;
}

.disabled {
    pointer-events: none;
    opacity: 0.65;
}
@keyframes slide-down {
    0% {
        transform: translateY(-100%);
    }
    100% {
        transform: translateY(0);
    }
}

@media (max-width: 768px) {
    .notification{
        width: 80%;
        left: 10%;
        right: 10%;
    }
}